/*  html, body {
	margin: auto;
	padding: 0px;
	/*background-color: #CCFFCC;*/
	/*
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	height:100%;
	 position: relative;
    min-height: 100%;
	
	 }*/
	 
	 html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px; */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


	#header{
  	width:900px; 
	height:100px;
	border:0px solid;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	/* background: url(../img/banner.jpg) no-repeat;   */

	}
	
		
	#center_div
	{
	margin-left:auto;
	margin-right:auto;
	margin-top:1px;

    width:900px; 
    /*height:300px;*/
	

	}
	
 
	#menu-div {
	width:900px; 
	height:100px;
	margin-left:auto;
	margin-right:auto;
    margin-top:2%;
	}

	/*for footer*/
	#footer1 {
/*	  position:absolute;
	  width: 100%;
	  height: 60px;
	  background-color: #f5f5f5;
	  overflow:hidden;
	  clear:both;
	  bottom: 0; #sticks the footer 3px above the bottom edges of the #wrapper div
	  width: inherit;*/
	  
	/*  
width:100%;

position: absolute;
background-color: #f5f5f5;
height: 80px;
overflow:hidden;
clear:both;

top:100%;
	  
	}
	.container {
	  margin-left:auto;
	  margin-right:auto;
	  padding: 0 15px;
	}
	.container .text-muted {
	  margin: 20px 0;
	}
	/*end for footer*/*/
	
	/*myclass*/
	.myclass {
		/*height: 200px;
		min-height: 200px;*/
		height: auto;
		margin-left:auto;
	     margin-right:auto;
	}
	
	
	

   /* Customize the navbar links to be fill the entire space of the .navbar */
	.navbar .navbar-inner {
		padding: 0;
	}
	
	.navbar .nav {
		margin: 0;
		display: table;
		width: 100%;
	}
	
	.navbar .nav li {
		display: table-cell;
		width: 1%;
		float: none;
	}
	
	.navbar .nav li a {
		font-weight: bold;
		text-align: center;
		border-left: 1px solid rgba(255, 255, 255, .75);
		border-right: 1px solid rgba(0, 0, 0, .1);
	}
	
	.navbar .nav li:first-child a {
		border-left: 0;
		border-radius: 3px 0 0 3px;
	}
	
	.navbar .nav li:last-child a {
		border-right: 0;
		border-radius: 0 3px 3px 0;
	}
	
	