<!DOCTYPE html>
<html>
<head>hello</head>

<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
 
 <script src="services.js"></script> 
<script src="controller.js"></script>
<script src="checklist-model.js"></script>




<body>
<form name="myForm" ng-app="auth.controllers" ng-controller="userController as users">
<!-- <div ng-app="auth.controllers" ng-controller="userController as users"> -->


   <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.email">
      Not valid email!</span>

<div class="container">

<h3>Users</h3>

<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Edit</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in names">
      <td>
        <button class="btn" ng-click="editUser(user.id)">
          <span class="glyphicon glyphicon-pencil"></span>Edit
        </button>
      </td>
      <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
    </tr>
  </tbody>
</table>
<hr>
<button class="btn btn-success" ng-click="editUser('new')">
<span class="glyphicon glyphicon-user"></span>Create New User
</button>
<hr> -->


<div class="span6">
<!--      <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
    <tt>myForm.$error.email = {{!!myForm.$error.email}}</tt><br/> -->
    
     <span class="error" ng-show="myForm.$error.required">
    Required!</span>
         <span class="error" ng-show="myForm.$error.email">
    Invalid email!</span>
    
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Email</th>
            <th style="min-width: 80px;">Roles</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td><input type="text" required ng-model="user.firstname"></td>
            <td><input type="text" required ng-model="user.lastname"></td>
            <td><input type="email" required ng-model="user.email"></td>
  

            <!-- <td><select size="10" id="myselection" multiple ng-multiple="true" ng-model="selectedColors" ng-options="c.name+' ('+c.shade+')' for c in colors"></select></td> -->
            <td><label ng-repeat="role in userRoles"><input type="checkbox" checklist-model="user.roles" checklist-value="role.role_id"> {{role.rolename}}</label></td>
            
            
            <td><a ng-click="editUser(user.user_id)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteUser(user.user_id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
          
        </tbody>
    </table>
    <a ng-click="createNewUser()" class="btn btn-small">create new user</a>
</div>


<!--   <b>Invoice:</b>
  <div>
    Quantity: <input type="number" min="0" ng-model="invoice.qty" required >
  </div>
  <div>
    Costs: <input type="number" min="0" ng-model="invoice.cost" required >
    <select ng-model="invoice.inCurr">
      <option ng-repeat="c in invoice.currencies">{{c}}</option>
    </select>
  </div>
  <div>
    <b>Total:</b>
    <span ng-repeat="c in invoice.currencies">
      {{invoice.total(c) | currency:c}}
    </span>
    <button class="btn" ng-click="invoice.pay()">Pay</button>
  </div>
  
  <table>
  <tr ng-repeat="x in names">
    <td>{{ x.firstname }}</td>
    <td>{{ x.lastname }}</td>
  </tr>
</table> -->

<button ng-click="clickMe()">Click Me</button>
  	
</div>


</body>

</html>